* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.search-box input {
    width: 60%;
    padding: 10px;
    font-size: 18px;
}

.search-box button {
    padding: 10px 15px;
    font-size: 18px;
    background: #007bff;
    border: none;
    color: white;
    cursor: pointer;
}

.search-box button:hover {
    background: #0056b3;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}

.image-grid img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
}

.image-grid img:hover {
    transform: scale(1.05);
}
/* Image Preview Popup */
.previewBox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.previewBox img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
}
#closePreview {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}
.downloadBtn {
    position: absolute;
    bottom: 40px;
    padding: 12px 25px;
    background: #ffffff;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
}